# PYTHON BASICS

In [1]:
# This sign makes the comment line (#)
# Shift+enter to run the code and add another block of code
# If you want to add a title,you should change code style to markdown
# For bold header you can use this **title**

# Some Basic Examples

In [2]:
var1 = 10
var2 = 20
var3 = "monday"

print(var1)
print(var2)
print(var3)
type(var3)

10
20
monday

str

# Lists

In [3]:
var1 = 10
var2 = 20
var3 = 30
list_int = [var1, var2, var3]  # or -> list_int = [10, 20, 30]
print(list_int)

[10, 20, 30]

In [4]:
# First element of the list
list_int[0]

10

In [5]:
# Last element of the list
list_int[-1]

30

In [6]:
# Variables in the range of list
list_int[0:3]

[10, 20, 30]

In [7]:
# Add variables to the list
list_int.append(25)
print(list_int)

[10, 20, 30, 25]

In [8]:
# Delete variables to the list 
list_int.remove(25)
print(list_int)

[10, 20, 30]

In [9]:
# Print the list in reverse
list_int.reverse()
print(list_int)

[30, 20, 10]

In [10]:
# Sort the list from smallest to largest
list_int.sort()
print(list_int)

[10, 20, 30]

# Control Statements & Loops

In [11]:
# Find maximum element with for loop
x = 10
for each in list_int:
    if each > x:
        x = each
    else:
        continue
    
print(x)

30

In [12]:
# Print from 0 to 5 with while loop (5 is not included)
i = 0
while i<5:
    print(i)
    i = i+1

0
1
2
3
4

# Functions

In [13]:
# Use function
def circumference(r, pi=3.14):  #Pi is default value
    return 2*pi*r

circumference(2)                #to send value

12.56

In [14]:
# Another example for function
def calculate(x):
    return x*x

calculate(5)

25

In [15]:
# Shorter way to use function is lambda 
result = lambda x : x*x
print(result(5))

25

# Directories

In [16]:
#to use dictionary
dictionary = {"name":"Abdullah", "age":22, "grade":3}  # keys & values
print(dictionary)

{'name': 'Abdullah', 'age': 22, 'grade': 3}

In [17]:
type(dictionary)

dict

In [18]:
dictionary.keys()

dict_keys(['name', 'age', 'grade'])

In [19]:
dictionary.values()

dict_values(['Abdullah', 22, 3])

In [20]:
# Find out if the keys is in the dictionary
b = dictionary.keys()

if "Abdullah" in b:
    print("yes")
else:
    print("no")

no