In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Car_Dataset.csv")

In [3]:
df.shape
df.head()

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc

In [4]:
col_names = ["buying","maint","doors","person","lug_boot", "safety", "class"]
df.columns = col_names

In [5]:
df.head()

  buying  maint doors person lug_boot safety  class
0  vhigh  vhigh     2      2    small    med  unacc
1  vhigh  vhigh     2      2    small   high  unacc
2  vhigh  vhigh     2      2      med    low  unacc
3  vhigh  vhigh     2      2      med    med  unacc
4  vhigh  vhigh     2      2      med   high  unacc

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1727 entries, 0 to 1726
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1727 non-null   object
 1   maint     1727 non-null   object
 2   doors     1727 non-null   object
 3   person    1727 non-null   object
 4   lug_boot  1727 non-null   object
 5   safety    1727 non-null   object
 6   class     1727 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [7]:
for col in col_names:
    print(df[col].value_counts())

buying
high     432
med      432
low      432
vhigh    431
Name: count, dtype: int64
maint
high     432
med      432
low      432
vhigh    431
Name: count, dtype: int64
doors
3        432
4        432
5more    432
2        431
Name: count, dtype: int64
person
4       576
more    576
2       575
Name: count, dtype: int64
lug_boot
med      576
big      576
small    575
Name: count, dtype: int64
safety
med     576
high    576
low     575
Name: count, dtype: int64
class
unacc    1209
acc       384
good       69
vgood      65
Name: count, dtype: int64

In [8]:
df["class"].value_counts()

class
unacc    1209
acc       384
good       69
vgood      65
Name: count, dtype: int64

In [9]:
df.isnull().sum()

buying      0
maint       0
doors       0
person      0
lug_boot    0
safety      0
class       0
dtype: int64

In [10]:
x = df.drop(["class"],axis=1)

In [11]:
y = df["class"]

In [12]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3,random_state=27)

In [13]:
x_train.shape
x_test.shape

(519, 6)

In [14]:
x_train.dtypes

buying      object
maint       object
doors       object
person      object
lug_boot    object
safety      object
dtype: object

In [15]:
x_train.head()

     buying  maint doors person lug_boot safety
978     med   high     2      2      big    med
1650    low    low     3      2      med    med
1006    med   high     3      2      big   high
941     med  vhigh     4   more      big    low
1196    med    low     2      4    small    low

In [16]:
import category_encoders as ce

encoder = ce.OrdinalEncoder(cols=["buying","maint","doors","person","lug_boot", "safety"])
x_train = encoder.fit_transform(x_train)
x_test = encoder.transform(x_test)

In [17]:
x_train.head()

      buying  maint  doors  person  lug_boot  safety
978        1      1      1       1         1       1
1650       2      2      2       1         2       1
1006       1      1      2       1         1       2
941        1      3      3       2         1       3
1196       1      2      1       3         3       3

In [18]:
x_test.head()

      buying  maint  doors  person  lug_boot  safety
696        4      4      2       2         2       1
1405       2      1      1       1         3       2
1383       2      3      4       1         1       1
166        3      1      3       1         2       2
766        4      2      1       3         3       2

In [19]:
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier(n_estimators=10,random_state=0)
rfc.fit(x_train,y_train)
y_pred = rfc.predict(x_test)

In [20]:
from sklearn.metrics import accuracy_score
print("Model Accuracy: {0:0.4f}".format(accuracy_score(y_test,y_pred)))

Model Accuracy: 0.9268

In [21]:
rfc_100 = RandomForestClassifier(n_estimators=100,random_state=0)
rfc_100.fit(x_train,y_train)
y_pred_100 = rfc_100.predict(x_test)
print("Model Accuracy with  100 decision tree: {0:0.4f}".format(accuracy_score(y_test,y_pred_100)))

Model Accuracy with  100 decision tree: 0.9750